*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
  --content-width: 42rem;
  --color-text-light: #212121;
  --color-text-medium: hsl(0,0%,7%);
  --color-text-dark: hsl(0,0%,1%);
  --color-link-visited: #F64195;
  --color-link: #F52887;
}

html {
  font-family: serif;
  font-size: 1em;
}

.main {
  max-width: var(--content-width);
  margin: 0 1rem;
}

.main audio {
  width: 100%;
  max-width: 32em;
}

.page__body a:visited {
  color: var(--color-link-visited);
}

.page__body a._no-visited:visited {
  color: var(--color-link);
}

.page__body a._no-color {
  color: inherit;
}

.page__body a._no-color:visited {
  color: inherit;
}

.page__body a {
  color: var(--color-link);
}

.page__body p, body li {
  font: serif;
  font-size: 1.1em;
  color: var(--color-text-medium);
  line-height: 1.2em;
}

.page__body h1, h2, h3, h4, h5 {
  color: var(--color-text-light);
  letter-spacing: 0.03em;
  line-height: 1.2em;
  margin-top: 1.0em;
  margin-bottom: 0.2em;
}

.page__body h2 {
  font-size: 1.3em;
}

.page__body h3, .page__body h4 {
  font-size: 1.1em;
}

.page__body ul {
  margin-top: 0;
  margin-bottom: 0;
}

.page__title {
  text-decoration: none;
  display: none;
}

.page__title__logo {
  margin-bottom: 0.3em;
}

.page__title__logo img {
  max-width: 12rem;

}

.page__description {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.0em;
  color: var(--color-text-light);
  line-height: 1em;
}

.page__subtitle_episode {
  margin-top: 0;
  margin-bottom: 1.2em;
}


.page__title h1 {
  color: var(--color-text-light);
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer {
  border-top: 1px solid grey;
  max-width: var(--content-width);
  margin: 2rem 1rem;
}

.footer__header {
  color: var(--color-text-light);
}

.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
}

._nobr {
  white-space: nowrap;
}
