---
title: Krachbau – Listening to the Sounds of Berlin
layout: page.njk
permalink: 'index.html'
---

<main class="main">
<a class="page__title" href="/"><h1>{{ data.title }}</h1></a>
<a title="Go to main page" href="/" class="page__title__logo">
  <img alt="Krachbau Logo" src="/images/krachbau.svg">
</a>
<div class="page__description">
A series of interviews with Berlin-based underground
musicians. Produced by
<a class="_no-visited" href="https://pedalmarkt.com">Pedal Markt.</a>
</div>
<h2>Links</h2>
<ul>
  <li>
    <a class="_no-visited" href="/feed/">RSS Feed</a>
  </li>
  <li>
    <a class="_no-visited" href="https://podcasts.apple.com/us/podcast/krachbau/id1655391580">Apple Podcasts</a>
  </li>
  <li>
    <a class="_no-visited" href="https://pca.st/62b96qrx">Pocket Casts</a>
  </li>
  <li>
    <a class="_no-visited" href="https://open.spotify.com/show/41mwqxPH4rKRWL1aLp2M8S">Spotify</a>
  </li>
  <li>
    <a class="_no-visited" href="https://podcasts.google.com/feed/aHR0cHM6Ly9rcmFjaGJhdS5jb20vZmVlZC8">
    Google Podcasts
    </a>
  </li>
</ul>
<h2>Episodes</h2>
<ul>
  {%- for episode in collections.episode | reverse -%}
    <li>
      <a href="{{ episode.url }}">{{ episode.data.title }} –
      {{ episode.date | enDate }}
      </a>
    </li>
  {%- endfor -%}
</ul>
</main>
