---
title: Krachbau – Musicians of Berlin
layout: page.njk
permalink: 'index.html'
---

<main class="main">
<a href="/"><h1>{{ data.title }}</h1></a>
<h2>Episodes</h2>
<ul>
  {%- for episode in collections.episode | reverse -%}
    <li>
      <a href="{{ episode.url }}">{{ episode.data.title }} –
      {{ episode.date | enDate }}
      </a>
    </li>
  {%- endfor -%}
</ul>
</main>
